
.App {
  text-align: center;
  background-color: #659DBD;
}

html, body
{ font-size: calc(.46em + .86vw) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.blue-bg {
  background:#659DBD;;
}




