
.App {
  text-align: center;
  background-color: #659DBD;
  background-size: cover;
}

html, body
{ font-size: calc(.42em + .45vw) ;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.blue-bg {
  background:#659DBD;;
}




